@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-VariableFont.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "PlayFair-Display";
    src: url("./assets/fonts/PlayfairDisplay-VariableFont.ttf") format("truetype");
    font-style: normal;
}

:root {
    font-family: "PlayFair-Display", "sans-serif";
    --max-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 60%;
    background-color: lightseagreen;
    transform-origin: top left;
    transform: skewY(-10deg);
    z-index: -2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

footer {
    background-color: lightseagreen;
    font-family: "Roboto", "sans-serif";
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

header,
main,
footer {
    padding: 3%;
}

.icon {
    transition: 0.2s ease-out;
}

.icon:hover {
    transform: scale(1.2);
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: var(--max-width);
}

.profile-photo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.profile-photo-name {
    position: absolute;
    font-size: 2.5rem;
    color: white;
    padding: 10px;
}

.profile-photo img {
    min-width: 100%;
    max-height: 500px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.profile-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 30px;
    gap: 20px;
    font-size: 1.4rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.profile-icons {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.profile-icons > .icon {
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.work-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    max-width: var(--max-width);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.work-header {
    grid-column: 1 / -1;
}

.work-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.project-screenshot {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightsalmon;
    min-height: 200px;
}

.project-details {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.project-icons img {
    min-width: 24px;
    cursor: pointer;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    margin: 0 auto;
}

.contact-container h1 {
    font-size: 3rem;
    font-family: "PlayFair-Display", "sans-serif";
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-size: 1.3rem;
}

.contact-address {
    display: flex;
    flex-direction: column;
}

.contact-phone,
.contact-email {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-icons {
    display: flex;
    align-items: center;
    gap: 50px;
}

.contact-icons > .icon {
    cursor: pointer;
}

.contact-container .icon {
    height: 32px;
    width: 32px;
}

.contact-image {
    max-width: 50%;
    height: auto;
    object-fit: cover;
}

/* TABLET and MOBILE */
@media (max-width: 850px) {
    body::before {
        height: 60%;
        transform: skewY(-20deg);
    }

    .profile-container,
    .contact-container {
        flex-direction: column;
        justify-content: center;
    }

    footer {
        padding: 0;
    }

    .contact-details {
        padding: 3rem;
    }

    .profile-container {
        gap: 50px;
    }

    .contact-details h1 {
        text-align: center;
    }

    .contact-icons {
        justify-content: center;
    }

    .contact-image {
        max-width: 100%;
    }
}